// src/styles/colors.scss

// Color Palette
$primary-color: #6DB0D5;     // Replace with actual color
$hover-color: #D8CFC4 ;       // Replace with actual color
$secondary-color:  #3E8328;   // Replace with actual color
$accent-color: #304c1c;   // Replace with actual color
$background-color: #f4f4f4; // Replace with actual color
$button-color: #AF3B00;   // Replace with actual color
$button-hover-color: #652707; // Replace with actual color
